$legend-border-color: #333333;

.jr-drag-leg__items {
  display: flex;
  flex-direction: column;
}

.jr-drag-leg__item {
  align-items: flex-start;
  display: inline-flex;
  margin: .5rem 0;

  &--divider {
    background-color: $legend-border-color;
    height: 1px;
    margin: .3rem 0;
    overflow: hidden;
  }
  
  &__label {
    flex: auto;
    line-height: 1.3rem;
  }

  &__icon {
    font-size: 1.3rem;
    margin-right: .5rem;
  }
}
