@import 'src/colors.scss';
@import 'src/typography.scss';
@import 'src/variables.scss';

:host {
  padding: $content-padding;

  .jr-header {
    background: $brand-background-color;
    height: 300px;
    position: relative;
    padding: $content-padding;
    box-shadow: 0px 5px 25px $shadow-color;

    &__navbar {
      background: $brand-background-color;
      color: $brand-primary-color;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 3;
    }

    &__section {
      position: absolute;
      text-align: center;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    &__primary-header {
      font-size: 3.25rem;
      font-weight: 500;
    }

    &__secondary-header {
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }

  .jr-main {
    padding: $content-padding;

    &__section {
      display: flex;
      flex-direction: column;
      margin: 50px 0;
    }

    &__secondary-header {
      font-weight: $header-text-weight-thin;
    }

    &__article__code {
      min-height: 200px;
    }

    &__article__text {
      font-size: $article-text-size;
    }
  }

  .jr-footer {
    border-top: solid 1px $brand-border-color;
    padding: 10px;
    font-size: $link-text-size-sm;

    &__logo {
      height: 50px;
      width: 100px;
    }
  }
}
